@import "seattletimes";

// Accent colors
// @df-blue: rgb(7, 119, 179);
// @df-maroon: rgb(192, 33, 138);
// @df-orange: rgb(188, 92, 35);
// @df-orange-highlight: rgb(208, 103, 35);
// @df-goldenrod: rgb(225, 135, 39);
// @df-navy: rgb(43, 77, 112);
.chart-sub {
  margin-bottom: 0.3em;
  font-weight: 900;
  font-family: sans-serif;
  text-align: center;
}
.button-group {
  margin: auto;
  margin-bottom: 2em;

  text-align: center;
}

.button {
  font-size: 19px;
  text-transform: uppercase;

  font-weight: 900;
  text-align: left;
  background-color: white;
  margin: 1px;
  width: 49%;
  border: 1px solid #aaa;
  box-shadow: 1px 1px #aaa;

  .up,.down {
    display: none;
    color: navy;
    margin-left: 5px;
    float: right;
    font-size: 25px;
    line-height: 0.8em;


    .letter { vertical-align: middle; font-size: 16px; font-weight: normal; }

    i {

      margin-left: 2px;

    }
  }

  @media @desktop-up {
    width: 140px;
  }
}

#card-holder {
  display: inline-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1270px;
  margin: auto;
  border-top: 2px solid #aaa;


}


/* clear fix */
#card-holder:after {
  content: '';
  display: block;
  clear: both;
}


.card {
  // position: relative;
  // float: left;

  width: 48%;
  height: 400px;
  margin: 2px;
  font-family: sans-serif;
  font-size: 0.9em;
  flex: 1;
  align-self: stretch;
  display: inline-block;
  background-color: #ece9e9;



  .color-bar { height: 25px; margin-bottom: 0px; }
  .description { padding: 10px; }

  h3 { margin: 0 0 0.5em 0; }

  .position {
    line-height: 0.9em;
    margin-bottom: 5px;

    .title {
      font-weight: bold;
      color: #616161;
      letter-spacing: 1px;
    }
    .area {
      font-style: italic;
    }
  }

  .eduHeader {
    font-weight: 900;
    color: #aaa;
    text-decoration: underline;
    margin: 5px 0 3px 0;
  }
  .edu {
    font-size: 0.9em;
    line-height: 1.1em;
    margin-bottom: 10px;

    .school {
      font-weight: bold;
      color: #616161;
    }

    .major {
      font-style: italic;
    }

    .mba {
      color: red;
      font-weight: bold;
    }
  }



  @media @desktop-up {
    width: 200px;
    margin: 5px;
  }
}

// .card > * {
//   margin: 0;
//   padding: 0;
// }

#keys {
  font-family: sans-serif;
  text-align: center;

  .key {
    display: none;

    div {
      vertical-align: middle;
      display: inline-block;
      text-align: center;

      .block {
        width: 70px;
        height: 20px;
        display: block;
        margin: auto;
       }
    }
  }
}
