<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://use.fontawesome.com/327389cae6.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <!-- content goes here -->
      <h3 class="chart-sub">Pick a category to sort the S-team's profiles</h3>
      <div id="sorts" class="button-group">
        <button id="name" class="button active asc" data-sort-by="name">name <i class="fa fa-caret-up" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <button id="tenure" class="button" data-sort-by="tenure">tenure <i class="fa fa-caret-up" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <button id="age" class="button" data-sort-by="age">age<i class="fa fa-caret-up" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <button id="gender" class="button" data-sort-by="gender">gender<i class="fa fa-caret-up" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
      </div>

      <div id="keys">

        <div class="tenure-key key" data-array="tenureColors">
          <div class="first"><div class="block"></div>0 - 5 years at Amazon</div>
          <div class="second"><div class="block"></div>6 - 10 years at Amazon</div>
          <div class="third"><div class="block"></div>11 - 15 years at Amazon</div>
          <div class="fourth"><div class="block"></div>16 - 20 years at Amazon</div>
          <div class="fifth"><div class="block"></div>21 - 25 years at Amazon</div>
          <div class="fifth"><div class="block"></div>25 - 30 years at Amazon</div>
        </div>

        <div class="age-key key" data-array="ageColors">
          <div class="first"><div class="block"></div>40 - 45 years old </div>
          <div class="second"><div class="block"></div>46 - 50 years old</div>
          <div class="third"><div class="block"></div>51 - 55 years old</div>
          <div class="fourth"><div class="block"></div>56 - 60 years old</div>
          <div class="fifth"><div class="block"></div>61 - 65 years old</div>
        </div>

        <div class="gender-key key" data-array="genderColors">
          <div class="first"><div class="block"></div>Female</div>
          <div class="second"><div class="block"></div>Male</div>
        </div>
      </div>

      <div id="card-holder">
        <% json.steam.sort(function(a, b) { return a.order - b.order }).forEach(function(item, i) { %>
          <%= t.include("partials/_card.html", { item: item, index: i }) %>
        <% }) %>
      </div>
    </responsive-child>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
