<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://use.fontawesome.com/327389cae6.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <!-- content goes here -->




      <h3 class="graphic-hed">Who are Jeff Bezos’ top lieutenants at Amazon</h3>

      <h4 class="graphic-chatter">Amazon’s senior leadership team, or S Team for short, sets goals and strategy,
        shapes company culture, and handles crises. It expanded in late 2019 and now includes 22 people, counting Bezos,
        though not all of them report to the Amazon founder and CEO. Click on the attributes below to sort
        the S Team members by age, Amazon tenure (the average for the group is a little less than 16 years) and
        gender, and to see other biographical details such as title and education. Undergraduate university and
        major are listed, followed by graduate institutions and additional business degrees.
        It is up to date as of Feb. 2, 2020. <a href="https://www.seattletimes.com/business/amazon/" target="_blank" rel="noreferrer noopener nofollow">See all of The Seattle Times’ Amazon coverage here.</a></h4>


      <h3 class="chart-sub">Pick a category to sort the profiles of the 'S Team'</h3>
      <div id="sorts" class="button-group">
        <button id="name" class="button active asc" data-sort-by="name" data-color-by="nameC">name <span class="up"><span class="letter">A-Z</span><i class="fa fa-caret-up" aria-hidden="true"></i></span><span class="down"><span class="letter">Z-A</span><i class="fa fa-caret-down down" aria-hidden="true"></i></span></button>
        <button id="tenure" class="button" data-sort-by="tenure" data-color-by="tenureC">tenure <i class="fa fa-caret-up up" aria-hidden="true"></i><i class="fa fa-caret-down down" aria-hidden="true"></i></button>
        <button id="age" class="button" data-sort-by="age" data-color-by="ageC">age<i class="fa fa-caret-up up" aria-hidden="true"></i><i class="fa fa-caret-down down" aria-hidden="true"></i></button>
        <button id="gender" class="button" data-sort-by="gender" data-color-by="genderC">gender<i class="fa fa-caret-up up" aria-hidden="true"></i><i class="fa fa-caret-down down" aria-hidden="true"></i></button>
      </div>

      <div id="keys">

        <div class="tenure-key key" data-color-by="tenureC">
          <h4>Years at Amazon</h4>
          <div class="keyItem"><div class="block"></div>0-4</div>
          <div class="keyItem"><div class="block"></div>5-9</div>
          <div class="keyItem"><div class="block"></div>10-14</div>
          <div class="keyItem"><div class="block"></div>15-19</div>
          <div class="keyItem"><div class="block"></div>20-24</div>
          <div class="keyItem"><div class="block"></div>25+</div>
        </div>

        <div class="age-key key" data-color-by="ageC">
          <h4>Years old</h4>
          <div class="keyItem"><div class="block"></div>40-44</div>
          <div class="keyItem"><div class="block"></div>45-49</div>
          <div class="keyItem"><div class="block"></div>50-54</div>
          <div class="keyItem"><div class="block"></div>55-59</div>
          <div class="keyItem"><div class="block"></div>60-64</div>
        </div>

        <div class="gender-key key" data-color-by="genderC">
          <h4 style="visibility:hidden;">Gender</h4>
          <div class="keyItem"><div class="block"></div>Female</div>
          <div class="keyItem"><div class="block"></div>Male</div>
        </div>
      </div>

      <div id="card-holder">
        <% json.steam.sort(function(a, b) { return a.order - b.order }).forEach(function(item, i) { %>
          <%= t.include("partials/_card.html", { item: item, index: i }) %>
        <% }) %>
      </div>

      <figcaption>
        <span class="data-source">Sources: Public records, LinkedIn, Amazon. Photos courtesy of Amazon, wire services and Seattle Times archives.</span>
        <span class="art-credit">RESEARCH: BENJAMIN ROMANO, MIYOKO WOLF / THE SEATTLE TIMES<br>GRAPHIC: LAUREN FLANNERY / THE SEATTLE TIMES</span>
      </figcaption>
    </responsive-child>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
